a {
  text-decoration: none;
}

#header { text-align: center; }

#venue-playlist {
  text-align: center;
  background-color: #dbeede;
  overflow-y: scroll;
}

.venue-selection {
  background-color: #dbeede;
}

#footer {
  margin-top:10px;
  width: 100%;
  height: 18px;
  font-size:12px;
}

#footer a {
    color:#555555;
}

#venue-search { text-align: center; }
#venue-playlist { text-align: center; }

input[name='search-query'] {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

input[name='venue'] {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.artist-picture {
  border-radius: 9999px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  img {
    width: 100%;
    height: 100%
  }
}
